.avatar-container {
    display: flex;
    align-items: center;
    
  }
  
  .avatar-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .avatar-text {
    font-size: 18px;
    font-weight: bold;
    color: white;
  }